/*gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 75%;
	color: rgba(0,0,0,0.8);
  }
  
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

body h6 {
  font-size: 1em;
  font-weight: bold;
}

body p {
  margin: 0 0 1.5em;
}

body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}

body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
  }
  
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

body strong {
  font-weight: bold;
}

body em {
  font-style: italic;
}

body sup, body sub {
  line-height: 0;
}
body dl {
  margin: 0 0 1.5em 0;
}

body dl dt {
  font-weight: bold;
}

body dd {
  margin-left: 1.5em;
}


body .quiet {
  color: #666666;
}

body .loud {
  color: #111111;
  }