- @groups.each do |group|
  .entries
    %p
      = link_to group.name, group_path(group) 
    %p
      = "#{pluralize(group.conversations_count, "conversation")} | #{pluralize(group.messages_count, "message")}"
